.task {
	font-size: 1.25rem;
	display: flex;
}

.task button {
	width: 35px;
	margin: 3px;
}

.task-label {
	line-height: 35px;
	user-select: none;
	margin-right: auto;
}

.task.done .task-label {
	text-decoration: line-through;
}

.task.important .task-label {
	font-weight: bold;
	color: steelblue;
}

.edit-input {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
