.task {
	font-size: 1.25rem;
	display: flex;
}

.task button {
	width: 35px;
	margin: 3px;
}

.task-label {
	line-height: 35px;
	user-select: none;
	margin-right: auto;
}

.task.done .task-label {
	text-decoration: line-through;
}

.task.important .task-label {
	font-weight: bold;
	color: steelblue;
}

.timer-buttons {
	position: absolute;
	top: 30px;
}

.timer-container {
	height: 14px;
	position: absolute;
	left: 270px;
	position: relative;
}
.timer-time {
	font-size: 16px;
	position: relative;
	bottom: 15px;
	right: -84px;
	color: #707070;
}
.timer {
	bottom: 4px;
	left: 106px;
	font-size: 14px;
	color: #999;
	position: absolute;
}

.edit-input {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
	font-size: 18px !important;
	width: 18px;
	height: 18px;
}

.todo-list li .icon-play {
	font-size: 15px;
}

.icon-pause:after {
	content: '⏸';
	position: absolute;
	top: 0px;
	left: 170px;
}
.icon-pause-active:after {
	content: '⏸';
	position: absolute;
	top: 0px;
	left: 170px;
}
.active-pause:after {
	background-color: rgb(215, 255, 255);
}

.icon-play:after {
	content: '▶';
	position: absolute;
	top: 1px;
	left: 152px;
}
